.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 80px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 94px;
  margin: 20px auto 25px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 120px;
  height: 3px;
  transform-origin: right center;
  margin: 30px -1px 25px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 299px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 50px auto 30px 449px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 145px;
    height: 78px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-line-1 {
    width: 99px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    font-size: 4.5rem;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-left: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 111px;
    height: 59px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 76px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 104px;
    height: 56px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-line-1 {
    width: 71px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 49px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 301px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 120px;
  height: 3px;
  margin: 30px auto 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 301px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-line-1 {
    width: 99px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 76px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-line-1 {
    width: 71px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 85px auto 70px 0;
}

.u-section-3 .u-image-1 {
  min-height: 510px;
  background-image: url("np://user.desktop.nicepage.com/Site_50495775/images/pexelsphoto816198.jpg?rand=8a4b");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 120px;
  height: 3px;
  margin: 30px auto 26px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 255px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 99px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }

  .u-section-3 .u-text-6 {
    position: relative;
  }

  .u-section-3 .u-text-7 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 76px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-line-1 {
    width: 71px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 261px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 67px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 120px;
  height: 10px;
  margin: 30px auto 25px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 261px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  margin: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-line-1 {
    width: 99px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-1 {
    width: 76px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 71px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 657px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 107px auto 51px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 529px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-image-1 {
  height: 408px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-line-1 {
  width: 59px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -17px 0 18px 84px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 529px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-image-2 {
  height: 408px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-line-2 {
  width: 59px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: -17px 0 18px 84px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 529px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-image-3 {
  height: 408px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-line-3 {
  width: 59px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: -15px 0 18px 84px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-image-1 {
    height: 336px;
    width: 264px;
  }

  .u-section-5 .u-line-1 {
    width: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 69px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-image-2 {
    height: 336px;
    width: 264px;
  }

  .u-section-5 .u-line-2 {
    width: 49px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 69px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-image-3 {
    height: 336px;
    width: 264px;
  }

  .u-section-5 .u-line-3 {
    width: 49px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 258px;
    width: 202px;
  }

  .u-section-5 .u-line-1 {
    width: 37px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 44px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 258px;
    width: 202px;
  }

  .u-section-5 .u-line-2 {
    width: 37px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 44px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 258px;
    width: 202px;
  }

  .u-section-5 .u-line-3 {
    width: 37px;
  }

  .u-section-5 .u-text-3 {
    margin-bottom: 0;
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 64px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-image-1 {
    height: 242px;
    width: 189px;
  }

  .u-section-5 .u-line-1 {
    width: 138px;
    height: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 168px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-image-2 {
    height: 242px;
    width: 189px;
  }

  .u-section-5 .u-line-2 {
    width: 138px;
    height: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 168px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-image-3 {
    height: 242px;
    width: 189px;
  }

  .u-section-5 .u-line-3 {
    width: 138px;
    height: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-right: -1px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 680px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 85px auto 70px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_50495775/images/pexelsphoto1795507.jpg?rand=7322");
  min-height: 549px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 183px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: -39px 0 0 80px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 20px 80px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 183px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-icon-2 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: -38px 0 0 80px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 20px 80px;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 183px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-icon-3 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 31px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: -37px 0 0 80px;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 20px 80px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 66px;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 66px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 66px;
    font-weight: 400;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 66px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-5 {
    font-weight: 400;
    margin-left: 66px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -39px;
    margin-left: 70px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-6 .u-text-4 {
    margin-bottom: 15px;
    margin-left: 94px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 70px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 70px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 70px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 70px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 70px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 70px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 622px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 59px auto 59px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 504px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 35px;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin-bottom: 35px;
  margin-top: 20px;
}

.u-section-7 .u-image-1 {
  min-height: 504px;
  background-image: url("np://user.desktop.nicepage.com/Site_50495775/images/pexelsphoto1964627.jpg?rand=a50a");
  background-position: 50% 29.49%;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-text-3 {
    position: relative;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 261px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-line-1 {
  width: 120px;
  height: 10px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 35px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 261px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-4 {
  margin: 60px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 135px;
  min-width: 94px;
  margin: 30px auto 35px 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-line-1 {
    width: 99px;
  }

  .u-section-8 .u-text-3 {
    position: relative;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-social-icons-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 76px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-line-1 {
    width: 71px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-line-1 {
    width: 60px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
